/* Logo for navigation bar */
nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    overflow: hidden;
    background: transparent;
    transition: background 250ms ease-in;
}

.nav-scrolled {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0; /* Position the navbar at the top of the page */
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 4px 0 black;

}



#logo{
    height: 50px;
    width: 110px;
}

#nav-main ul {
    display: inline-block;
}

ul li{
    display: inline; 
    padding:10px;
    font-size:20px; 
}

ul li a {
    text-decoration: none;
    color: #DF6631;
}

ul li a:hover{
    text-decoration: none;
    color: #DF6631;
}

.nav-scrolled ul li a {
    text-decoration: none;
    color: black;
}

#nav-container {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

@media (max-width: 576px) {
    #nav-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    #logo{
        height: 40px;
        width: 80px;
    }
}

