.logoDimensions {
    width: 30vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

hr {
    border: 4px solid black;
    background-color: black;
}

.title{
    text-align: center;
    font-size: 25px;
    color: black;
}
.subtitle{
    text-align: center;
    font-weight: lighter;
    font-size: 30px;

}


a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}





#content {
    display: flex;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.align-left{
    text-align: left;
}

.underline {
    text-decoration: underline;
}

.productDescription {
    margin: 10px;
    font-size: 25px;
    line-height: 1;
}

.flex-col-noGap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productsImg{
    border: 4px solid black;
    width: 250px;
    height: 250px;
    margin: 10px;

}

.medium-paddingtop {
    padding-top: 25px;
}

.hover-highlight:hover{
    background-color: yellow;
}

/* unique css for the details page*/


.flex-row {
    display: flex;
    flex-direction: row;
}

.mid-gap{
    gap: 40px;
}


.dropdowns {
    width: 300px;
    height: 40px;
    border: 2px solid black;
    font-size: 20px;
}

.detailsImg {
    height: 550px;
    width: 550px;
    border: 4px solid black;
}
.detailsPrice {
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

/* unique css for the cart page*/

.cartButton {
    background: yellow;
    height: 50px;
    width: 175px;
    font-weight: bold;
    font-size: 20px;
}


.cartDescription {
    margin: 10px;
    font-size: 25px;
    line-height: .5;
}

.cartPrice {
    font-size: 30px;
}

.cartLine {
    width: 50%;
}

.cartImg {
    height: 110px;
    width: 110px;
    border: 4px solid black;
}

